* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.clear {
  clear: both;
}

.text-withe {
  color: #fff !important;
}

#main {
}

/* start Navigate */

#nav #subnav {
  list-style: none;
}

#nav {
  display: inline-block;
}

#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li > a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

#nav li a {
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav > li:hover > a {
  background-color: #ccc;
  color: #000;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  top: 100%;
  min-width: 160px;
}

#nav .nav-arrow-down {
  font-size: 12px;
}

#nav .subnav a {
  color: #000;
  text-decoration: none;
  line-height: 22px;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
}

#nav .subnav li {
  width: 100%;
}

#nav .subnav li:hover {
  background-color: #ccc;
  color: #000;
}

#header .search-btn {
  float: right;
}

#header .search-btn:hover {
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  padding: 0 21px;
  display: block;
}

/* End Navigate */

/* start Slider */

#slider {
  padding-top: 50%;
  margin-top: 46px;
  background: url(../img/ny.jpg) top center / cover no-repeat;
  position: relative;
}

#slider .text-content {
  bottom: 0;
  width: 100%;
  padding: 32px 0;
  font-weight: 600;
  position: absolute;
  color: #fff;
  text-align: center;
}

#slider .tex-heading {
  font-size: 24px;
}

#slider .text-des {
  margin: 25px 0;
  font-size: 15px;
}

#content {
}

.content-section {
  max-width: 800px;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
}

.content-section .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
}

.content-section .section-sub-heading {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  font-weight: 400;
  opacity: 0.7;
  font-style: italic;
}

#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
}

#content .member-item {
  float: left;
  width: calc(100% / 3);
  text-align: center;
}

#content .member-name {
  font-size: 15px;
  padding: 15px;
}

#content .member-img {
  width: 154px;
  border-radius: 4px;
}

#content .member-list {
  margin-top: 48px;
}

#content .tour-section {
  background-color: #000;
}

.ticket-list {
  background-color: #fff;
  margin-top: 40px;
}
.ticket-list li {
  font-size: 15px;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
  list-style: none;
}

.ticket-list .sold-out {
  padding: 3px 4px;
  font-size: 15px;
  margin-left: 16px;
  background-color: rgb(244, 67, 54);
  color: #fff;
}

.ticket-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}

.place-list {
  margin: 32px -8px 48px -8px;
}
.place-item {
  float: left;
  width: calc(100% / 3);
  padding: 0 8px;
}
.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}
.place-heading {
  font-size: 15px;
  font-weight: 600;
}
.place-time {
  margin-top: 15px;
  color: #757575;
}
.place-des {
  margin-top: 15px;
  line-height: 1.6;
}
.place-buy-btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
}

.place-buy-btn:hover {
  background-color: #ccc;
  color: #000;
}

#footer {
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  font-weight: 600;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
}

.modal-close:hover {
  opacity: 1;
}

.modal-header {
  background-color: rgb(0, 150, 136);
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.modal-header i {
  margin-right: 16px;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  font-weight: 600;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
}
