* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

body > div {
  margin: auto;
}

.btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 38px;
  border-radius: 50px;
  transition: opacity 0.2s ease;
  min-width: 120px;
}

.btn:hover {
  opacity: 0.4;
  cursor: pointer;
}

.btn + .btn {
  margin-left: 16px;
}

.btn--success {
  background-color: #71be34;
}
.btn--warn {
  background-color: #ffb702;
}
.btn--danger {
  background-color: red;
}

.btn--disable {
  opacity: 0.5 !important;
  cursor: default !important;
}

.btn--size-l {
  padding: 16px 56px;
}

.btn--size-m {
  padding: 8px 32px;
}
